---
import IconArrowRight from "@/assets/icons/arrow-right.svg";
import Pill from "@/components/Pill.astro";

interface Props {
	title: string;
	category: string;
	categoryColor?: string;
	date: Date;
	href?: string;
	external?: boolean;
	readingTime?: string;
	ariaLabel?: string;
	locale?: string;
	dateFormat?: Intl.DateTimeFormatOptions;
}

const { lang } = Astro.locals;
const localeMap = { en: "en-US", es: "es-ES" } as const;

const {
	title,
	category,
	categoryColor,
	date,
	href,
	external,
	readingTime,
	ariaLabel,
	locale = localeMap[lang],
	dateFormat = { day: "numeric", month: "short", year: "numeric" },
} = Astro.props;

const formattedDate = date.toLocaleDateString(locale, dateFormat);

const isoDate = date.toISOString().split("T")[0];

const Tag = href ? "a" : "div";

const linkProps = href
	? {
			href,
			...(external && { target: "_blank", rel: "noopener noreferrer" }),
			...(ariaLabel && { "aria-label": ariaLabel }),
		}
	: {};
---

<Tag
	{...linkProps}
	class="group relative flex flex-col gap-4 overflow-hidden md:flex-row md:pt-8"
>
	<div class="text-subtitle flex w-24 flex-col pt-8 text-sm md:pt-0">
		<time datetime={isoDate}>{formattedDate}</time>
		{readingTime && <span class="text-xs">{readingTime}</span>}
	</div>
	<div class="border-border flex-1 border-b pb-8">
		<div class="flex flex-col gap-3">
			<Pill color={categoryColor}>{category}</Pill>
			<h3 class="text-title text-lg font-medium md:text-xl">{title}</h3>
		</div>
	</div>
	{
		href && (
			<IconArrowRight
				class="text-subtitle absolute top-1/2 right-0 size-5 shrink-0 translate-x-2 -translate-y-1/2 opacity-0 transition-all duration-300 ease-out group-hover:translate-x-0 group-hover:opacity-100"
				aria-hidden="true"
			/>
		)
	}
</Tag>
